header{
    background-color: #E31B1B;
    height: 45px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

icon{
width: auto;
}

logo{
    margin-left: 70px;
   
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: -10px;
    font-family: Open Sans;
    color: white;
}